# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Solar System Know-it-alls.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../:\Solar System Know-it-alls\.idea\.idea.Solar System Know-it-alls\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
